@import url('https //fonts.googleapis.com/css family=poppins');

/* -- SIDEBAR -- */
body {
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: black;
}

.breadcumb-top {
    font-size: 13x;
	color: black;
}

.store-Title {
	margin-top:40px;
	margin-bottom:40px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.cardMb {
	margin-bottom:40px;
}